.header {
  display: grid;
  grid-template-columns: 50px auto 50px;
  justify-content: space-between;

  text-align: center;
}

.header p {
  color: var(--Background);
  opacity: 0.6;
}

.tapArea {
  padding: 3px 6px 3px 4px;
}
