.Popup {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0 16px;

  background: rgba(153, 153, 153, 0.85);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: scroll;
}

.Popup button {
  display: flex;
  width: 100%;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
  border: none;
  border-radius: 8px;
  background: var(--Main-main);

  color: var(--Background);
}

.container {
  display: flex;
  padding: 0 24px 36px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-radius: 20px;
  background: var(--Background);

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  gap: 8px;
}

.container > div > div {
  display: flex;
  justify-content: fles-end;
  text-decoration: underline;
  color: var(--Main-main);
}

.cross {
  display: flex;
  justify-content: fles-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.tapArea {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
}

.passwordsDoNotMatch {
  text-align: start;
  color: var(--Negative-red);
}
