.Registration {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
  justify-content: flex-start;
}

.funcHeader {
  /* display: grid;
  grid-template-columns: 24px 1fr; */
}

.arrowIcon {
  position: fixed;
  top: 228px;
}

.Registration h1 {
  color: var(--Basic, #333);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  justify-self: center;
}

.Registration img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*------------------------*/
.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.RegistrationForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.InputForm {
  width: 100%;
  padding: 19px 24px;
  margin: 8px 0;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.ButtonFormBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 24px;
}

/* .ButtonForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
} */

.hasAkkaunt {
  margin: 8px 0 0 0;

  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.hasAkkaunt a {
  margin: 0 4px;
}

.checkboxRemember {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  color: #3e3e3e;
  text-align: center;
  font-family: SF UI Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textLink {
  display: flex;
  flex-wrap: wrap;

  color: #3e3e3e;
  text-align: center;
  font-family: SF UI Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkboxRemember input {
  margin-right: 8px;
}

.ScreenIndicators {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.Indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  /* background-color: gray; */
  background-color: rgba(56, 90, 100, 0.2);
}

.Indicator.Active {
  background-color: #385a64;
  /* или любой другой цвет для активного состояния */
}
