.FinderInput {
  position: relative;
  width: 100%;

  display: flex;

  margin: 24px 0;
}

.inputWrap {
  display: flex;
  width: 100%;
  padding: 11px 16px;

  border-radius: 8px;
  border: 1px solid var(--Light-grey);
}

.inputWrap input {
  margin-left: 26px;
  font-size: 0.875rem;
  border: none;
  background: transparent;
  width: 90%;
  outline: none;
}

.inputWrap input:focus {
  background-color: transparent;
}

.inputWrap input:-webkit-autofill {
  color: #ffffff !important;
}

.magnifier {
  position: absolute;
  top: 8px;
  left: 12px;
}
.closeIcon {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 8px;
  right: 12px;
}
