.Profile {
  position: relative;
  top: 0;
  color: var(--Basic-text, #333);
}

.headerContainer {
  position: relative;
  top: 0;
  padding: 36px 16px 0 16px;

  background: var(--Accent-Blue, #424a6d);
}

.contentContainer {
  position: relative;
  top: -40px;
  background-color: #fff;
  border-radius: 20px;
  padding-top: 24px;
}

.exitButton {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--main-light, #87a8b2);

  color: var(--main-dark, #123741);

  /* Button */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
