.ProfileInfo {
  background-color: #fff;
  margin: 20px;
}

.P_Line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.face{
  /* width: 100px;
  height: 100px; */
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  overflow:hidden;
  margin: auto;
}
.Profile img{
  height: 200px;
}

.preloader {
  margin: auto;
}

.my_games {
  border-top: 1px solid black;
  margin-top: 16px;
}
.my_games h4{
  padding: 8px;
  margin-bottom: 32px;
}