.AddGame {
  grid-area: d;
  display: grid;
  grid-template-areas: 'a a' 'b b' 'c c' 'd d' 'e e' 'f f' 'g g' 'h h';
  gap: 8px;
}

.names {
  grid-area: a;
}
.part {
  grid-area: b;
}
.score {
  grid-area: c;
}
.btn {
  grid-area: d;
}
