.Players {
  padding: 16px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;

  padding: 6px 0;
}

.header>h3 {
  grid-column: 2;
  justify-self: center;

}

.header>img {
  padding: 10px;
}

.header>img:first-child {
  display: flex;
  justify-self: flex-start;
}

.header>img:last-child {
  display: flex;
  justify-self: flex-end;
}

.finderPlayers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finderPlayers span {
  padding: 11px 0;
  margin-left: 12px;
}


.filter {
  position: relative;
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  align-self: stretch;
}

.sortMode {
  display: flex;
  gap: 10px;
}

.filter img {
  width: 24px;
  height: 24px;
}

.list {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

.pagination img{
  padding: 8px;

  opacity: .4;
}